.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
  
  .titleh2 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .createTitle {
    display: flex;
    flex-direction: column;
    padding: 48px 32px;
    width: 900px;
    height: 626px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275),
      0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
    border-radius: 6px;
  }
  
  .input {
    display: flex;
    align-self: center;
    width: 850px;
    height: 22px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-bottom: 18px;
    padding: 8px 12px;
  }
  
  .inputText {
    display: flex;
    height: 40px;
    width: 862px;
    padding-left: 12px;
    padding-bottom: 128px;
    margin-bottom: 21px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
  }
  
  .inputTag {
    // margin: 0;
    // display: flex;
    // align-self: center;
    // width: 300px;
    // height: 22px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    // margin-bottom: 18px;
    padding: 8px 12px;
  }
  
  .labelTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
    margin-bottom: 2px;
  }
  
  .wrapTag {
    display: grid;
    grid-template-columns: 300px 120px 136px;
    grid-template-rows: 40px 40px 40px;
    grid-auto-flow: column;
    gap: 10px 18px;
  }
  
  .labelTitleTag {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
    margin-bottom: 2px;
  }
  
  .wrapperBtn {
    width: 118px;
    height: 40px;
    color: #f5222d;
    border: 1px solid #f5222d;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
  }
  
  .wrapperBtn:last-child {
    margin-top: 100px;
    width: 136px;
    height: 40px;
    color: #1890ff;
    border: 1px solid #1890ff;
    border-radius: 4px;
    background-color: white;
  }
  
  .sendBtn {
    margin-top: 21px;
    width: 300px;
    height: 40px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    background: #1890ff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  