.signUpBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 51px;
  padding: 6px 18px 10px 18px;
  border: 1px solid #52c41a;
  border-radius: 5px;
  background: white;
  font-size: 18px;
  line-height: 28px;
  color: #52c41a;
  cursor: pointer;
}
